<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wulb2018.settlement.mapper.AccountMapper">
    <update id="frozenAsset" >
        UPDATE `t_account` SET available = available - #{frozen}, frozen = frozen + #{frozen},modify_date=#{modifyDate} WHERE user_id=#{userId} AND available >= #{frozen};
    </update>

    <update id="unfrozenAsset" >
        UPDATE `t_account` SET frozen = frozen - #{amount}, available = available + #{amount},modify_date=#{modifyDate} WHERE user_id=#{userId} AND frozen >= #{amount};
    </update>



    <!--    结算买方资金-->
    <update id="settlementBuyAccount" >
        UPDATE `t_account` SET frozen = frozen - #{account}, available = available - #{account},modify_date=#{modifyDate} WHERE user_id=#{userId} AND available >= #{account};
    </update>


    <!--    结算卖方计价资产（USDT）资金-->
    <update id="settlementSellAccount" >
        UPDATE `t_account` SET available = available + #{account},modify_date=#{modifyDate} WHERE user_id=#{userId};
    </update>

</mapper>